h1 {
	text-align: center;
}

#matchingPercentage_Output ul li{
    /*background: red;*/
    color: white;
}

body{
    background-color: #6c757dad;
}

header, footer {
    /*padding: 1em;*/
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}